<aside class="sidebar col-md-3 inner-right" role="complementary">

  <section class="widget side-search">

    <h3 class="title">站内搜索</h3>

    <form class="searchform" name="formsearch" action="/plus/search.php">

      <input type="hidden" name="kwtype" value="0">

      <div class="sform-div">

        <input type="text" value="" name="q" placeholder="输入关键字" id="s">

        <input type="submit" id="searchsubmit" value="">

      </div>

    </form>

  </section>

  <section class="widget widget-category side-contact"> <h3 class="title">联系我们</h3>

    <div class="s-contact"> 全国免费热线：13964794166 0536-4666898<br>

      手机：www.oujinbeer.com www.oujinpijiu.com<br>

      电话：13964794166 0536-4666898<br>

      传真：0536-4666898<br>

      邮箱：oujinbeer@163.com<br>

      地址：山东省青岛市市南区南京路100号 </div>

  </section>

  <section hidden class="widget side-news"> <h3 class="title">新闻资讯</h3>

    <div class="tabbed custom-tabbed">

      <div class="block current">

        <ul class="widget-list">

          <li>

            <figure><a href="2019-12-25-222.html"><img src="static/picture/1-1Q124102129552-lp.jpg"></a></figure>

            <div class="sn-wrapper">

              <p class="s-desc"><a href="2019-12-25-222.html" title="啤酒生产厂家浅谈啤酒泡沫的作用">啤酒生产厂家浅谈啤酒泡沫的作用</a></p>

              <span class="comments"><i class="fa fa-calendar"></i> &nbsp;2019-12-25</span> </div>

          </li>

          <li>

            <figure><a href="2019-12-25-223.html"><img src="static/picture/1-1Q124101323412-lp.jpg"></a></figure>

            <div class="sn-wrapper">

              <p class="s-desc"><a href="2019-12-25-223.html" title="啤酒生产厂家分享正确的倒酒方法">啤酒生产厂家分享正确的倒酒方法</a></p>

              <span class="comments"><i class="fa fa-calendar"></i> &nbsp;2019-12-25</span> </div>

          </li>

          <li>

            <figure><a href="2019-12-19-221.html"><img src="static/picture/1-1Q21H23P94R-lp.jpg"></a></figure>

            <div class="sn-wrapper">

              <p class="s-desc"><a href="2019-12-19-221.html" title="浅析精酿啤酒与商业啤酒的区别">浅析精酿啤酒与商业啤酒的区别</a></p>

              <span class="comments"><i class="fa fa-calendar"></i> &nbsp;2019-12-19</span> </div>

          </li>



        </ul>

      </div>

    </div>

  </section>

</aside>